<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GramaSabha</title>
</head>

<body>
    <p>Welcome to GramaSabha!</p>
    <p>Check the console in your terminal to see your Session ID!</p>



    <!-- Chat Section -->
    <div style="margin-top: 20px;">
        <div id="chatBox"
            style="width: 350px; height: 200px; border: 1px solid #ccc; overflow-y: auto; padding: 10px; background: #f9f9f9; margin-bottom: 10px;">
            <p style="color: gray; font-style: italic;">Click "Find Stranger" to start chatting...</p>
        </div>

        <div style="display: flex; gap: 8px;">
            <input type="text" id="messageInput" placeholder="Type a message..." style="width: 270px; padding: 6px;"
                disabled>
            <button id="sendBtn" style="padding: 6px 12px;" disabled>Send</button>
            <button id='findstranger'>Find Stranger</button>
            <button id='skipBtn' style="display: none;">Skip Stranger</button>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
    <!-- downloading socketio client library via cdn -->
    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>